# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
ZOTERO_CLIENT_KEY=[INSERT ZOTERO CLIENT KEY]
ZOTERO_CLIENT_SECRET=[INSERT ZOTERO CLIENT SECRET]
ZOTERO_CALLBACK_URL=http://localhost:3000/zotero
